<div class="container mx-auto p-5 bg-white shadow rounded-lg ">
    <div class="flex justify-between">
        <div class="my-3 ms-4 py-2 px-3 bg-gray-100 w-full me-5 shadow rounded-lg">
            <h1 class="text-lg font-bold py-2 px-3 ">La liste des étudiants</h1>
        </div>

        <button class="bg-black text-white px-3 my-2 shadow rounded-lg me-3 " type="button" mat-raised-button
            (click)="openBottomSheet()">Ajouter un
            étudiant</button>
    </div>
    <div class="flex justify-end">
        <div class="my-2 ms-4  pe-3 bg-gray-50 me-5 shadow rounded-full">
            <input type="text" placeholder="Recherche" class="w-full py-3 ps-3 border border-1 rounded-full border-gray-300" (click)="recherche($event)">
        </div>
    </div>
    <div class="mat-elevation-z1 m-5">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> N° Etudiant</th>
                <td mat-cell *matCellDef="let element"> <span class="font-bold">{{element.numero}}</span>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="classe">
                <th mat-header-cell *matHeaderCellDef> Classe </th>
                <td mat-cell *matCellDef="let element"> {{element.classe}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> <span class="font-bold">Action</span> </th>
                <td mat-cell *matCellDef="let element">
                    <button class="material-icons-outlined text-green-900 bg-green-300 shadow-lg rounded-lg me-3">edit</button>
                    <button class="material-icons-round text-red-700 bg-red-300 shadow-lg rounded-lg" (click)="remove(element.numero)">delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>